.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json
output_images/*
!output_images/read-me.md
input_images/*
!input_images/read-me.md
yolo/*
!yolo/read-me.md
venv
.vscode
*.pyc
!.gitignore